@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BG Dev Test</h1>
    <p>This is my Dev Test with ASP.NET Core, MVC, EntityFramwork and VS2022</p>
</div>
